<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="org.apache.cordova.plugin.ExtractZip"
      version="0.1.0">
    <name>ExtractZip</name>

    <js-module src="www/ExtractZip.js" name="ExtractZip">
        <clobbers target="ExtractZIp" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ExtractZip">
                <param name="android-package" value="org.apache.cordova.plugin.ExtractZip.ExtractZipPlugin"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

	<source-file src="src/android/ExtractZipPlugin.java" target-dir="src/org/apache/cordova/plugin/ExtractZip" />
      
     </platform>
     
     <!-- ios -->
     <platform name="ios">    
         <config-file target="config.xml" parent="/*">
             <feature name="ExtractZip">
                 <param name="ios-package" value="ExtractZIp" />
             </feature>
         </config-file>
         
         <header-file src="src/ios/CDVCamera.h" />
         <source-file src="src/ios/CDVCamera.m" />
         <header-file src="src/ios/CDVJpegHeaderWriter.h" />
 	     <source-file src="src/ios/CDVJpegHeaderWriter.m" />
 	     <header-file src="src/ios/CDVExif.h" />
     </platform>
          
</plugin> 
